html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: $jumbo;
  font-size: .8em;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  width: 100%;
}

.body-wrapper {
  max-width:  1080px;
  margin: 0 auto;
  padding:  1rem;
}

.btn {
  background: $jumbo;
  border: 0;
  border-radius: .2rem;
  color: $white;
  padding:  .5rem 1rem;
  appearance: none;
  transition: all .2s linear;
  font-size:  1rem;

  &:hover {
    background: darken($jumbo, 5%);
  }

  &.btn-primary {
    background: $pumpkin;

    &:hover {
      background: darken($pumpkin, 5%);
    }
  }
}

.logout-btn {
  float: right;
}

.authentication-main {
  padding:  .5rem;
  max-width:  30rem;
  margin: auto;
}

.upload-form-wrapper {
  clear: both;
  padding-top: .5rem;
}

.upload-form {
  label,
  input {
    display: block;
  }

  label {
    margin-bottom:  .2rem;
  }

  input[type="text"],
  input[type="file"] {
    margin-bottom:  1rem;
  }

  input[type="text"] {
    padding:  .5rem;
    width:  100%;
  }

  button {
    display: block;
    width:  100%;
    font-size:  1.2rem;
    padding:  .7rem;
  }
}

.edit-form-list-item {
  border-bottom:  1px dotted $jumbo;
}

.edit-form-title {
  display: flex;
  align-items: center;
  font-weight:  normal;

  .btn  {
    margin-left:  auto;
  }
}

.edit-remove-form {
  margin: .5rem 0;

  label {
    display: block;
  }

  .btn {
    margin: .5rem .5rem 0 0;
  }
}

.gallery {
  padding: 1rem 0;

  &.full-view {
    .gallery-item {
      padding: .5rem 0;

      @media (min-width: 650px) and (max-width: 1023px) {
        padding: 1.5rem 0;
      }

      @media (min-width: 1023px) {
        padding: 3rem 0;
      }
    }

    .gallery-item:first-child {
      padding-top: 0;
    }

    .gallery-item:last-child {
      padding-bottom: 0;
    }
  }
}

.caption {
  text-align: right;
  font-size: .9rem;
  color: $jumbo;
  font-style: italic;
  margin: .2rem;
}

.gallery-item {
  margin: 0;
}
