body {
  font-family: Helvetica, Arial, sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

.gallery-item {
  width:  100px;
  float: left;
}

img {
  width:  100%;
  height: auto;
}

.btn {
  background: $santas-grey;
  border: 0;
  border-radius: .2rem;
  color: $white;
  padding:  .5rem 1rem;
  appearance: none;
  transition: all .2s linear;
  font-size:  1rem;

  &:hover {
    background: darken($santas-grey, 5%);
  }

  &.btn-primary {
    background: $pumpkin;

    &:hover {
      background: darken($pumpkin, 5%);
    }
  }
}

.logout-btn {
  float: right;
}

.authentication-main {
  padding:  .5rem;
  max-width:  30rem;
  margin: auto;
}

.upload-form-wrapper {
  clear: both;
  padding-top: .5rem;
}

.upload-form {
  label,
  input {
    display: block;
  }

  label {
    margin-bottom:  .2rem;
  }

  input[type="text"],
  input[type="file"] {
    margin-bottom:  1rem;
  }

  input[type="text"] {
    padding:  .5rem;
    width:  100%;
  }

  button {
    display: block;
    width:  100%;
    font-size:  1.2rem;
    padding:  .7rem;
  }
}

.edit-form-list-item {
  border-bottom:  1px dotted $jumbo;
}

.edit-form-title {
  display: flex;
  align-items: center;
  font-weight:  normal;

  .btn  {
    margin-left:  auto;
  }
}

.edit-remove-form {
  margin: .5rem;

  label {
    display: block;
  }

  .btn {
    margin: .5rem .5rem 0 0;
  }
}
