.grid-view {
  margin-top: 1rem;

  &.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;

    @media (min-width: $breakpoint-sm) {
      grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
    }
  }

  .gallery-item {
    cursor: pointer;
  }

  .gallery-image-holder {
    display: block;
    width: 100%;
    position: relative;
    height: 0;
    padding-top: (3 / 4) * 100%;
    overflow: hidden;
    background-color: $sun-pearl;

    &::before {
      content: '';
      position: absolute;
      width:  100%;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      opacity:  0;
      transition: all .5s ease-in-out;
    }

    &.loading {
      &::before {
        opacity:  1;
        background: linear-gradient(-65deg, transparent 25%, $santas-grey 50%, transparent 75%);
        animation: loading 2.5s ease-in-out infinite;
      }
    }

    img {
      display: block;
      position: absolute;
      max-width: 100%;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      opacity: 1;
      transition: opacity 1s ease-in-out;

      &.loading {
        opacity: 0;
      }
    }
  }
}

.full-view {
  max-width: 900px;
  margin: auto;

  .loading {
    display: block;
    width: 100%;
    position: relative;
    height: 0;
    padding-top: (3 / 4) * 100%;
    overflow: hidden;
    background-color: $sun-pearl;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      transition: all .5s ease-in-out;
      background: linear-gradient(-65deg, transparent 25%, $santas-grey 50%, transparent 75%);
      animation: loading 2.5s ease-in-out infinite;
    }
  }
}
